name: Build Plugin

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean package
      working-directory: ./plugin

    # Ye step aapki .jar file ko save karega taaki aap download kar sako
    - name: Upload JAR file
      uses: actions/upload-artifact@v4
      with:
        name: GuildBot-Plugin
        path: plugin/target/GuildBot-1.0-SNAPSHOT.jar
